@use '../scss/font';
@use '../scss/color';
@import '../scss/mixing';

.form-wrapper {
    @include container;
    @include flexbox(center, center, column);

    .login-form {
        @include flexbox(center, center, column);
        @include container(500px, 570px);
        background-color: color.$form-bg;
        border: 1px solid #000;
        z-index: 10;
    }

    .input-container {
        @include container(475px, 365px);
        @include flexbox(space-between, center, column);

        .form-content {
            @include container(368px, 40px);
                @include form-content;
                margin-bottom: 20px;
                text-align: center;
        }

        label {
            @include label;  
            margin-bottom: 10px;
        }

        input {
            @include container(400px, 36px);
            font-family: font.$poppins;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 160%;
            margin-bottom:15px;
            padding-left: 10px;
            border: 1px solid #000;
        }
    }

    .sign-in-container {
        @include container(413px, 70px);

        .sign-in {
            @include form-button;
        }
    }

    .question-terms-container{
        @include container(300px, 54px);
        @include flexbox(center, center, column);

    }

    .question {
            font-family: font.$poppins;
            font-size: 14px;
            color: #333;
            text-align: center;
            margin: 10px 0 5px;

            a{
                color: color.$txt-signup;
                text-decoration: underline;

                &:hover{
                    color: color.$txt-signup-hover;
                }
            }
    }
    
    .accept-terms {
        font-family: font.$poppins;
        font-size: 12px;
        color: #666;
        text-align: center;
        margin-top: 15px;
    }

    .back-form{
        @include flexbox(center, center,);
        @include container(500px, 570px);
        background-color: #ECA474;
        border: 1px solid black;
        position: absolute;
        top:130px;
        left: 430px;
        z-index: 2;
    }
}

