$logo: #DDD172;
$form-content: #424040;
$btn-color: rgba(66, 64, 64, 0.5);
$btn-home-color: #21201E;
$form-bottom: #666D80;
$form-bg: #E5E4C7;
$form-btn: #FFC9E6;
$form-btn-hover:rgb(255, 71, 71);
$form-btn-active:rgb(147, 216, 169);
$txt-signup: #1A1B25;
$txt-signup-hover: #4e4e4e;
