$logo: #DDD172;
$form-content: #424040;
$btn-color: rgba(66, 64, 64, 0.50);
$form-bottom: #666D80;
$form-bg: #E5E4C7;
$form-btn: #FFC9E6;
$form-btn-hover:rgb(147, 186, 216);
$form-btn-active:rgb(147, 216, 169);
$txt-signup: #1A1B25;
$txt-signup-hover: #1ac626;